<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="orig_path" value="C:\Users\ronen.Hamama\Documents\Mishkal\"/>
    <add key ="archive_folder" value="\\Dc01\company\Mishkal_Archive\"/>
    <add key="target_file" value="c:\users\ronen.HAMAMA\shkilot.csv"/>
    <add key="DB_server" value="Appserver\\SQLEXPRESS"/>
    <add key ="DB_Database" value="Atlit_MIshkal"/>
  </appSettings>
</configuration>
